<header id="main-header">
  <div id="logo"><a href="/">WDE</a></div>
  <!--This nav item will only be visible on desktop screen-->
  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <!--This nav item will only be visible on mobile screen-->
  <nav><%- include('nav-items') %></nav>
</aside>
