<%- include('../../shared/includes/head', {pageTitle: 'Signup' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('../../shared/includes/header')%>
            <main>
                <h1>Login</h1>
                <form action="signup" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <!--p tags are used here to mark and group form inputs, it is acceptable to do this-->
                    <p>
                        <label for="email">E-mail</label>
                        <!--type has to be email, id doesn't have to-->
                        <!--to extract the email from the incoming request
                on the server, we need the attribute name,
                this is the key for server side to extract-->
                        <input type="email" id="email" name="email" required>
                    </p>

                    <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" minlength="6" required>
                    </p>
                    <button class="btn">Login</button>
                    <p id="switch-form"><a href="/login">Create a new user</a></p>
                </form>
            </main>
            <%- include('../../shared/includes/footer')%>